<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- CSS, FontAwesome, Vue, Axios -->
    <link rel="stylesheet" href="./dist/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- /Fine Librerie -->

    <title>Blog Porto</title>
  </head>
  <body>
    <div id="root">

      <div class="container">

          <div class="header-top-background">
            <div class="header-top">
              <ul class="header-top-navbar">
                <li>Everything about Lifestyle, Travel and Gadgets!</li>
                <li v-for="el in headerTopNavbar"> {{el}} </li>

              </ul>
            </div>
          </div>

            <div class="header-center-background">
              <div class="header-center">
                <div class="header-center-logo">
                  <img src="./img/header/logo-default-slim.png" alt="Logo azienda">
                </div>
              </div>
            </div>

            <div class="header-bottom-background">
              <div class="header-bottom">
                <ul class="header-bottom-menu">
                  <li v-for="el in headerBottomNavbar"> {{el}} </li>
                </ul>

                <ul class="header-bottom-menu-2">
                  <li><i class="fas fa-search"></i></li>
                </ul>
              </div>
              </div>

          </div>
          <!-- /Header -->

          <!--  row-1 -->
          <div class="row-1-background">
            <div class="row-1">

              <!-- CARD ARTICLE N.1 *******************-->
              <div class="card-article">
                <!-- ANIMATION BLACK LAYOVER & BACKGROUND IMAGE-->
                <div class="card-article-layover"></div>
                <img class="card-article-bg"
                     src="./img/row-1/card-articles/blog-46.jpg"
                     alt="Immagine articolo">

                <!-- ARTICLE CONTENT -->
                <div class="card-article-content">

                  <!-- CATEGORY, ARTICLE TITLE & DESCRIPTION -->
                  <div class="card-article-content-category">
                    PHOTOGRAPHY
                  </div>
                  <div class="card-article-content-title">
                    How To Take Better Concert Pictures in 30 seconds
                  </div>
                  <div class="card-article-content-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
                  </div>
                  <!-- /CATEGORY, ARTICLE TITLE & DESCRIPTION -->
                </div>
                <!-- ARTICLE CONTENT -->
              </div>
              <!-- /CARD ARTICLE N.1 *********************-->

              <!-- Card Article N.2 -->
              <div class="card-article">
                <!-- Animation black layover & Background Image-->
                <div class="card-article-layover"></div>
                <img class="card-article-bg"
                     src="./img/row-1/card-articles/blog-47.jpg"
                     alt="Immagine articolo">

                <!-- Article content -->
                <div class="card-article-content">

                  <!-- Category, Article Title & Description -->
                  <div class="card-article-content-category">
                    GADGETS
                  </div>
                  <div class="card-article-content-title">
                    Gadgets That Make Your Smartphone Even Smarter
                  </div>
                  <div class="card-article-content-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
                  </div>
                  <!-- /Category, Article Title & Description -->
                </div>
                <!-- Article content -->
              </div>
              <!-- /Card Article N.2 -->

              <!-- Card Article N.3 -->
              <div class="card-article">
                <!-- Animation black layover & Background Image-->
                <div class="card-article-layover"></div>
                <img class="card-article-bg"
                     src="./img/row-1/card-articles/blog-48.jpg"
                     alt="Immagine articolo">

                <!-- Article content -->
                <div class="card-article-content">

                  <!-- Category, Article Title & Description -->
                  <div class="card-article-content-category">
                    TRAVEL
                  </div>
                  <div class="card-article-content-title">
                    20 Top-Rated Tourist Attractions in Manhattan
                  </div>
                  <div class="card-article-content-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
                  </div>
                  <!-- /Category, Article Title & Description -->
                </div>
                <!-- Article content -->
              </div>
              <!-- /Card Article N.3 -->

              <!-- Card Article N.4 -->
              <div class="card-article">
                <!-- Animation black layover & Background Image-->
                <div class="card-article-layover"></div>
                <img class="card-article-bg"
                     src="./img/row-1/card-articles/blog-49.jpg"
                     alt="Immagine articolo">

                <!-- Article content -->
                <div class="card-article-content">

                  <!-- Category, Article Title & Description -->
                  <div class="card-article-content-category">
                    LIFESTYLE
                  </div>
                  <div class="card-article-content-title">
                    The Best Way to Ride a Motorcycle
                  </div>
                  <div class="card-article-content-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
                  </div>
                  <!-- /Category, Article Title & Description -->
                </div>
                <!-- Article content -->
              </div>
              <!-- /Card Article N.4 -->

              <!-- Card Article N.5 -->
              <div class="card-article">
                <!-- Animation black layover & Background Image-->
                <div class="card-article-layover"></div>
                <img class="card-article-bg"
                     src="./img/row-1/card-articles/blog-50.jpg"
                     alt="Immagine articolo">

                <!-- Article content -->
                <div class="card-article-content">

                  <!-- Category, Article Title & Description -->
                  <div class="card-article-content-category">
                    TRAVEL
                  </div>
                  <div class="card-article-content-title">
                    5 Fun Things to Do at the Beach
                  </div>
                  <div class="card-article-content-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
                  </div>
                  <!-- /Category, Article Title & Description -->
                </div>
                <!-- Article content -->
              </div>
              <!-- /Card Article N.5 -->

              <!-- Card Article N.6 -->
              <div class="card-article">
                <!-- Animation black layover & Background Image-->
                <div class="card-article-layover"></div>
                <img class="card-article-bg"
                     src="./img/row-1/card-articles/blog-51.jpg"
                     alt="Immagine articolo">

                <!-- Article content -->
                <div class="card-article-content">

                  <!-- Category, Article Title & Description -->
                  <div class="card-article-content-category">
                    RECIPES
                  </div>
                  <div class="card-article-content-title">
                    Amazingly Fresh Fruit And Herb Drinks For Summer
                  </div>
                  <div class="card-article-content-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
                  </div>
                  <!-- /Category, Article Title & Description -->
                </div>
                <!-- Article content -->
              </div>
              <!-- /Card Article N.6 -->

            </div>
          </div>
          <!-- /row-1 -->

          <!--  row-2 -->
          <div class="row-2-background">
            <div class="row-2">
              <div class="row-2-col-left">

                <!-- List articles with icon img -->
                <ul class="articles-icon-list">
                    <!-- List title -->
                    <li class="articles-icon-list-title"> POPULAR POST</li>

                    <!-- List Article N.1-->
                    <li class="article">
                      <!-- Icon Img -->
                      <img class="article-img" src="./img/row-2/blog-55.jpg">
                      <!-- Name & date -->
                      <ul class="article-text">
                        <li class="article-text-name"> Simple Ways to Have a Pretty Face </li>
                        <li class="article-text-date"> January 12,2019 </li>
                      </ul>
                    </li>
                    <!-- /List Article N.1-->

                    <!-- List Article N.2-->
                    <li class="article">
                      <!-- Icon Img -->
                      <img class="article-img" src="./img/row-2/blog-56.jpg">
                      <!-- Name & date -->
                      <ul class="article-text">
                        <li class="article-text-name"> Ranking the greatest players in basketball </li>
                        <li class="article-text-date"> January 12,2019 </li>
                      </ul>
                    </li>
                    <!-- /List Article N.2-->

                    <!-- List Article N.3-->
                    <li class="article">
                      <!-- Icon Img -->
                      <img class="article-img" src="./img/row-2/blog-57.jpg">
                      <!-- Name & date -->
                      <ul class="article-text">
                        <li class="article-text-name"> 4 Ways to Look Cool in Glasses </li>
                        <li class="article-text-date"> January 12,2019 </li>
                      </ul>
                    </li>
                    <!-- /List Article N.3-->

                    <!-- List Article N.4-->
                    <li class="article">
                      <!-- Icon Img -->
                      <img class="article-img" src="./img/row-2/blog-58.jpg">
                      <!-- Name & date -->
                      <ul class="article-text">
                        <li class="article-text-name"> Top Camper Trailer Towing Tips </li>
                        <li class="article-text-date"> January 12,2019 </li>
                      </ul>
                    </li>
                    <!-- /List Article N.4-->

                    <!-- List Article N.5-->
                    <li class="article">
                      <!-- Icon Img -->
                      <img class="article-img" src="./img/row-2/blog-59.jpg">
                      <!-- Name & date -->
                      <ul class="article-text">
                        <li class="article-text-name"> 5 Lovely Walks in New York </li>
                        <li class="article-text-date"> January 12,2019 </li>
                      </ul>
                    </li>
                    <!-- /List Article N.5-->



                </ul>
                <!-- /List articles with icon img -->

              </div>

              <div class="row-2-col-center">

                <!-- List articles with icon img -->
                <ul class="articles-icon-list">
                    <!-- List title -->
                    <li class="articles-icon-list-title"> RECENT POST</li>

                    <!-- List Article N.1-->
                    <li class="article">
                      <!-- Icon Img -->
                      <img class="article-img" src="./img/row-2/blog-65.jpg">
                      <!-- Name & date -->
                      <ul class="article-text">
                        <li class="article-text-name"> Main Reasons To Stop Texting and Driving </li>
                        <li class="article-text-date"> January 12,2019 </li>
                      </ul>
                    </li>
                    <!-- /List Article N.1-->

                    <!-- List Article N.2-->
                    <li class="article">
                      <!-- Icon Img -->
                      <img class="article-img" src="./img/row-2/blog-66.jpg">
                      <!-- Name & date -->
                      <ul class="article-text">
                        <li class="article-text-name"> Tips to Help You Quickly Prepare your Lunch </li>
                        <li class="article-text-date"> January 12,2019 </li>
                      </ul>
                    </li>
                    <!-- /List Article N.2-->

                    <!-- List Article N.3-->
                    <li class="article">
                      <!-- Icon Img -->
                      <img class="article-img" src="./img/row-2/blog-67.jpg">
                      <!-- Name & date -->
                      <ul class="article-text">
                        <li class="article-text-name"> Why should I buy a smartwatch? </li>
                        <li class="article-text-date"> January 12,2019 </li>
                      </ul>
                    </li>
                    <!-- /List Article N.3-->

                    <!-- List Article N.4-->
                    <li class="article">
                      <!-- Icon Img -->
                      <img class="article-img" src="./img/row-2/blog-68.jpg">
                      <!-- Name & date -->
                      <ul class="article-text">
                        <li class="article-text-name"> The best augmented reality smartglasses</li>
                        <li class="article-text-date"> January 12,2019 </li>
                      </ul>
                    </li>
                    <!-- /List Article N.4-->

                    <!-- List Article N.5-->
                    <li class="article">
                      <!-- Icon Img -->
                      <img class="article-img" src="./img/row-2/blog-69.jpg">
                      <!-- Name & date -->
                      <ul class="article-text">
                        <li class="article-text-name"> 12 Healtiest Foodds to Eat for Breakfast </li>
                        <li class="article-text-date"> January 12,2019 </li>
                      </ul>
                    </li>
                    <!-- /List Article N.5-->

                </ul>
                <!-- /List articles with icon img -->

              </div>

              <div class="row-2-col-right">

                <!-- LIST FEATURED POST -->
                <ul class="articles-list">
                    <!-- List title -->
                    <li class="articles-list-title"> FEATURED POST</li>
                    <li>
                      <!-- Card Article N.1 -->
                      <div class="card-article">
                        <!-- Animation black layover & Background Image-->
                        <div class="card-article-layover"></div>
                        <img class="card-article-bg"
                             src="./img/row-2/blog-66a.jpg"
                             alt="Immagine articolo">

                        <!-- Article content -->
                        <div class="card-article-content">

                          <!-- Category, Article Title & Description -->
                          <div class="card-article-content-category">
                            RECIPES
                          </div>
                          <div class="card-article-content-title">
                            Tips to Help You Quickly Prepare your Lunch
                          </div>
                          <div class="card-article-content-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt...
                          </div>
                          <!-- /Category, Article Title & Description -->
                        </div>
                        <!-- Article content -->
                      </div>
                      <!-- /Card Article N.1 -->
                    </li>
                </ul>
                <!-- /LIST FEATURED POST -->

                <!-- LIST FEATURED AUTHOR -->
                <ul class="author-list">
                    <!-- List title -->
                    <li class="author-list-title"> RECENT POST</li>

                    <!-- List Article N.1-->
                    <li class="author">
                      <!-- Icon Img -->
                      <img class="author-img" src="./img/row-2/avatar.jpg">
                      <!-- Name & date -->
                      <ul class="author-text">
                        <li class="author-text-name"> John Doe </li>
                        <li class="author-text-description">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </li>
                      </ul>
                    </li>
                <!-- /LIST FEATURED POST -->



              </div>


            </div>
          </div>
          <!-- /row-2 -->

          <!-- row-3 -->
          <div class="row-3-background">
            <div class="row-3">

              <!-- Menu Categories -->
              <ul class="menu-categories">
                <li><i class="fas fa-angle-left"></i></li>
                <li class="button-category">GADGETS</li>
                <li class="button-category">PHOTOGRAPHY</li>
                <li class="button-category">LIFESTYLE</li>
                <li class="button-category">FASHION</li>
                <li class="button-category">RECIPES</li>
                <li class="button-category">TRAVEL</li>
                <li><i class="fas fa-angle-right"></i></li>
              </ul>
              <!-- /Menu Categories -->

            </div>
            <!-- row-3 -->

          </div>
          <!-- /row-3-background -->

          <footer>
            <div class="footer-top-background">
              <div class="footer-top">

                <div class="footer-top-about">
                  <ul class="menu-dark">
                    <li class="menu-dark-title">ABOUT THE BLOG</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                    <li class="menu-dark-highlight">VIEW MORE ></li>
                  </ul>

                </div>

                <div class="footer-top-posts">
                  <ul class="articles-icon-list">
                      <!-- List title -->
                      <li class="articles-icon-list-title"> RECENT POST</li>

                      <!-- List Article N.1-->
                      <li class="article">
                        <!-- Icon Img -->
                        <img class="article-img" src="./img/row-2/blog-65.jpg">
                        <!-- Name & date -->
                        <ul class="article-text">
                          <li class="article-text-name"> Main Reasons To Stop Texting and Driving </li>
                          <li class="article-text-date"> January 12,2019 </li>
                        </ul>
                      </li>
                      <!-- /List Article N.1-->

                      <!-- List Article N.2-->
                      <li class="article">
                        <!-- Icon Img -->
                        <img class="article-img" src="./img/row-2/blog-66.jpg">
                        <!-- Name & date -->
                        <ul class="article-text">
                          <li class="article-text-name"> Tips to Help You Quickly Prepare your Lunch </li>
                          <li class="article-text-date"> January 12,2019 </li>
                        </ul>
                      </li>
                      <!-- /List Article N.2-->
                    </ul>
                </div>

                <div class="footer-top-comments">

                  <ul class="comments-list">
                    <li class="comments-list-title"> RECENT COMMENTS</li>

                    <!-- Comment N.1 -->
                    <ul class="comment">
                      <li class="comment-text"> <i class="fas fa-angle-right bullet"></i><span class="author-name">John Doe</span> commented on lorem <a href="">ipsum dolor sit amet.</a></li>
                      <li class="comment-date"> 12:55 AM Dec 19th </li>
                    </ul>
                    <!-- /Comment N.1 -->

                    <!-- Comment N.2 -->
                    <ul class="comment">
                      <li class="comment-text"> <span class="author-name">John Doe</span> commented on lorem <a href="">ipsum dolor sit amet.</a></li>
                      <li class="comment-date"> January 12,2019 </li>
                    </ul>
                    <!-- /Comment N.2 -->
                  </ul>

                </div class="footer-top-comments">



                <div class="footer-top-categories">
                  <ul class="categories-list">
                    <li class="categories-list-title"> CATEGORIES</li>
                    <li class="category-label">GADGETS</li>
                    <li class="category-label">PHOTOGRAPHY</li>
                    <li class="category-label">LIFESTYLE</li>
                    <li class="category-label">FASHION</li>
                    <li class="category-label">RECIPES</li>
                    <li class="category-label">TRAVEL</li>
                    <li class="category-label">BUSINESS</li>
                    <li class="category-label">ARCHITECTURE</li>
                    <li class="category-label">REVIEWS</li>
                    <li class="category-label">SPORTS</li>
                    <li class="category-label">VIDEOS</li>
                    <li class="category-label">TECHNOLOGY</li>
                    <li class="category-label">DESIGN</li>
                  </ul>

                </div>



              </div>
            </div>
            <div class="footer-bottom-background">
              <div class="footer-bottom">

                <div class="footer-bottom-logo">
                  <img src="./img/footer/logo/logo-footer.png" alt="Logo azienda">
                  <span class="footer-bottom-copyright"> © Copyright 2020. All Rights Reserved. </span>
                </div>


                <ul class="footer-bottom-links">
                    <li v-for="el in footerLinks"><i class="fas fa-angle-right bullet"></i>{{el}}</li>
                </ul>


              </div>

            </div>

          </footer>

      </div>
      <!-- /Container -->







      <!-- Script Javascript -->
      <script src="./js/main.js" charset="utf-8"></script>
    </div>
    <!-- /Root -->
  </body>
</html>
