// COLOR BACKGROUND*************************************************************

$colorBg1  : #FFFFFF;
$colorBg2  : #F7F7F7;
$colorBg3  : #D6D6D6;
$colorBg4  : #CCCCCC;
$colorBg5  : #33b77b; //#0088CC; Updated as requested by customer
$colorBg6  : #0074AD;
$colorBg7  : #404040;
$colorBg8  : #212529;
$colorBg9  : rgba(33,37,41,0.8); // #212529CC
$colorBg10 : #1C2023;
$colorBg11 : rgba(23,23,23,0.25); // #17171740
$colorBg12 : rgba(0,0,0,0.03); // #00000008
$colorBg13 : #000000;

//******************************************************************************

// COLOR TEXT ******************************************************************
$colorTxt1  : #FFFFFF;
$colorTxt2  : #B7B7B7;
$colorTxt3  : #888888;
$colorTxt4  : #33b77b; //#0088CC;  Updated as requested by customer
$colorTxt5  : #777777;
$colorTxt6  : #555555;
$colorTxt7  : #444444;
$colorTxt8  : #333333;
$colorTxt9  : #212529;
$colorTxt10 : #1C2023;
// *****************************************************************************

// BORDER COLOR ****************************************************************
$colorBrd1  : #F7F7F7;
$colorBrd2  : #EEEEEE;
$colorBrd3  : #EDEDED;
$colorBrd4  : #E2E2E2;
$colorBrd5  : #D9D9D9;
$colorBrd6  : #BFBFBF;
$colorBrd7  : #33b77b; //#0088CC;  Updated as requested by customer
$colorBrd8  : #005580;
$colorBrd9  : #212529;
$colorBrd10 : #0A0C0D;
$colorBrd11 : rgba(0,0,0,0.058);// #0000000F
// *****************************************************************************
