@mixin card-article-style-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 450px;
  height: 250px;
  padding: 25px 30px;

  .card-article-layover{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
    z-index: -2;
  }

  .card-article-bg{
    position: absolute;
    background-color: rgb(0,0,0);
    opacity: 100%;
    top:0;
    left:0;
    width: 100%;
    z-index: -2;
  }



  .card-article-category{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: $colorTxt1;
    background-color:  $colorBg5;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 15px;
  }

  .card-article-title{
    font-size: 24px;
    font-weight: bold;
    color: $colorTxt1;
  }

  .card-article-description{
    display: none;
    font-weight: bold;
    color: $colorTxt3;
    margin-top: 15px;
  }

}

@mixin card-article-style-1-hover{

  .card-article-description{
    display: block;
  }

  .card-article-layover{
    z-index: -1;
  }

}
// CARD ARTICLE + ANIMATION
.card-article{
  @include card-article-style-1;

}

.card-article:hover {
  @include card-article-style-1-hover;

}
// /CARD ARTICLE + ANIMATION







// TEST COMPONENTI *************************************************************
@mixin paletteModel {
  display: inline-block;
  width: 80px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
}
// PALETTE COLORI
.palette-bg1{@include paletteModel; background-color: $colorBg1};
.palette-bg2{@include paletteModel; background-color: $colorBg2};
.palette-bg3{@include paletteModel; background-color: $colorBg3};
.palette-bg4{@include paletteModel; background-color: $colorBg4};
.palette-bg5{@include paletteModel; background-color: $colorBg5};
.palette-bg6{@include paletteModel; background-color: $colorBg6};
.palette-bg7{@include paletteModel; background-color: $colorBg7};
.palette-bg8{@include paletteModel; background-color: $colorBg8};
.palette-bg9{@include paletteModel; background-color: $colorBg9};
.palette-bg10{@include paletteModel; background-color: $colorBg10};
.palette-bg11{@include paletteModel; background-color: $colorBg11};
.palette-bg12{@include paletteModel; background-color: $colorBg12};
.palette-bg13{@include paletteModel; background-color: $colorBg13};

.palette-Txt1{@include paletteModel; background-color: $colorTxt1};
.palette-Txt2{@include paletteModel; background-color: $colorTxt2};
.palette-Txt3{@include paletteModel; background-color: $colorTxt3};
.palette-Txt4{@include paletteModel; background-color: $colorTxt4};
.palette-Txt5{@include paletteModel; background-color: $colorTxt5};
.palette-Txt6{@include paletteModel; background-color: $colorTxt6};
.palette-Txt7{@include paletteModel; background-color: $colorTxt7};
.palette-Txt8{@include paletteModel; background-color: $colorTxt8};
.palette-Txt9{@include paletteModel; background-color: $colorTxt9};
.palette-Txt10{@include paletteModel; background-color: $colorTxt10};

.palette-Brd1{@include paletteModel; background-color: $colorBrd1};
.palette-Brd2{@include paletteModel; background-color: $colorBrd2};
.palette-Brd3{@include paletteModel; background-color: $colorBrd3};
.palette-Brd4{@include paletteModel; background-color: $colorBrd4};
.palette-Brd5{@include paletteModel; background-color: $colorBrd5};
.palette-Brd6{@include paletteModel; background-color: $colorBrd6};
.palette-Brd7{@include paletteModel; background-color: $colorBrd7};
.palette-Brd8{@include paletteModel; background-color: $colorBrd8};
.palette-Brd9{@include paletteModel; background-color: $colorBrd9};
.palette-Brd10{@include paletteModel; background-color: $colorBrd10};
.palette-Brd11{@include paletteModel; background-color: $colorBrd11};
