
@import "colors";
@import "testDebug";

//******************************************************************************

// ROW 1
// TODO: margini card non tornano: messo 20px anzichè 30px;
// TODO: eliminare margine inferiore dell'ultima riga delle card
// TODO: hover su icone font-awesome
// TODO: card - slide testo in hover
// TODO: controllare colori con trasparenza + sfumature blu
// TODO: Resize pagina sfondo, ogni tanto si rompe

// MIXIN **********************************************************************
@mixin content-style{
  width: 1410px;
  margin: 0 auto;
}

@mixin resetListBullets{
  list-style: none;

}

@mixin link-style-1{
  color: $colorTxt4;
  text-decoration: none;
}

@mixin link-style-1-bold{
  color: $colorTxt4;
  font-weight: bold;
  text-decoration: none;
}

@mixin menu-inline-li-light-style-1{
  color:$colorTxt1;
  display: inline-block;
  cursor:pointer;
  font-weight: bold;
  margin-right: 25px;
}

@mixin menu-inline-li-dark-style-1{
  color:$colorTxt7;
  display: inline-block;
  cursor:pointer;
  font-weight: bold;
  margin-right: 50px;
}



@mixin btn-category{
  text-align: center;
  display: inline-block;
  width: 185px;
  height: 50px;
  font-weight: bold;
  line-height: 50px;
  // margin-right: 40px;
  color: $colorTxt1;
  background-color: $colorBg8;
  cursor: pointer;
}

@mixin btn-category-hover{
  transition: background-color 0.4s;
  background-color: $colorBg9;
}

@mixin border-bottom-style-1{
  border: 1px solid $colorBrd3;
}

@mixin card-article-size-1{
  width: 450px;
  height: 250px;
}

@mixin card-article-size-2{
  width: 450px;
  height: 190px;
}


// CARD ARTICLE STYLE 1
@mixin card-article-style-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding: 25px 30px;
  overflow: hidden;

  //Z INDEXES
  // layover -1 -- > 1 on hover
  // bg 0
  // content 2

  &-layover{
    opacity: 0%;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
    z-index: -1;
  }

  &-bg{
    position: absolute;
    background-color: rgb(0,0,0);
    opacity: 100%;
    top:0;
    left:0;
    width: 100%;
    z-index: 0;
  }

  &-content{
    z-index: 2;
    &-category{
      @include category-label-style-1;
      // display: inline-block;
      // max-width: 150px;
      // font-size: 14px;
      // font-weight: bold;
      // color: $colorTxt1;
      // background-color:  $colorBg5;
      // border-radius: 2px;
      // padding: 5px;
      // margin-bottom: 15px;
    }

    &-title{
      font-size: 24px;
      font-weight: bold;
      color: $colorTxt1;
    }

    &-description{
      display: none;
      font-weight: bold;
      color: $colorTxt3;
      margin-top: 15px;
    }

  }

}

@mixin card-article-style-1-hover{
  cursor: pointer;
  .card-article-content-description{
    display: block;
  }
  .card-article-layover{
    opacity: 100%;
    transition: opacity 2s;
    z-index: 1;
  }
}
// /CARD ARTICLE STYLE 1

@mixin list-title-style-1{
  font-weight: bold;
  margin-bottom: 5px;
}

@mixin list-title-style-2{
  color: $colorTxt1;
  font-weight: bold;
  margin-bottom: 5px;
}

// ARTICLE LIST WITH ICON STYLE 1
@mixin articleIconImg-style-1{


  .article{
    display: flex;
    border-bottom: 1px dotted $colorBrd4;
    padding: 15px 0;


    &-text{
      @include resetListBullets;

      &-name{
        color: $colorTxt10;
        font-weight: bold;
        margin-bottom: 5px;
      }

      &-date{
        color: $colorTxt2;
      }

    }

    &-img{
      display: inline;
      width: 50px;
      height: 50px;
      margin-right:15px;
    }
  }
}


// /ARTICLE LIST WITH ICON STYLE 1
@mixin category-label-style-1{
  display: inline-block;
  max-width: 150px;
  font-size: 14px;
  font-weight: bold;
  color: $colorTxt1;
  background-color:  $colorBg5;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 15px;
}

@mixin category-label-style-2{
  display: inline-block;
  max-width: 150px;
  font-size: 14px;
  font-weight: bold;
  color: $colorTxt1;
  background-color:  $colorBg13;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 15px;
}


@mixin articleIconImg-style-2{


  .article{
    display: flex;
    padding: 15px 0;


    &-text{
      @include resetListBullets;

      &-name{
        color: $colorTxt2;
        font-weight: bold;
        margin-bottom: 5px;
      }

      &-date{
        color: $colorTxt5;
      }

    }

    &-img{
      display: inline;
      width: 70px;
      height: 70px;
      margin-right:15px;
      border-radius: 50%;
    }
  }
}


// AUTHOR LIST LI STYLE 1
@mixin authorIconImg-style-1{


  .author{
    display: flex;
    padding: 15px 0;

    &-text{
      @include resetListBullets;

      &-name{
        color: $colorTxt10;
        font-weight: bold;
        margin-bottom: 20px;
      }

      &-description{
        color: $colorTxt2;
      }

    }

    &-img{
      display: inline;
      width: 110px;
      height: 110px;
      margin-right:15px;
    }
  }
}

@mixin hover-standard-style1{
  opacity: 70%;
  transition: opacity 0.4s, text-shadow 0.2s;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  // background-color: rgba(0,0,0,0.3);
  border-radius: 5px;

}

@mixin menu-dark-style-1{
  @include resetListBullets;
  color: $colorTxt5;

  li{
    margin-bottom: 15px;
  }

  &-title{
    @include list-title-style-1;
    color: $colorTxt1;
  }

  &-highlight{
    font-weight: bold;
    color: $colorTxt1;
  }

}

@mixin comments-list-style-1{

  .comment{
    @include resetListBullets;
    margin-bottom: 30px;

    a{
      @include link-style-1-bold;

    }

    a:hover{
      @include hover-standard-style1;
    }

    &-text{
      color: $colorTxt2;
      font-weight: bold;
      margin-bottom: 10px;

      .bullet{
        color: $colorTxt4;
        font-weight: bold;
        margin-right: 10px;
      }

      .author-name{
        color: $colorTxt1;
      }
    }

    &-date{
      color: $colorTxt2;
    }


  }
}

// /MIXIN **********************************************************************

// GENERIC CLASS ***************************************************************
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}


h1,h2,h3 {
  font-size: 36px;
}


.container{
  width: 100%;
}
// /GENERIC CLASS ***************************************************************


// HEADER TOP ******************************************************************
.header-top-background{
  display: flex;
  align-items: center;
  background-color: $colorBg6;
  height: 50px;

  .header-top{
    @include content-style;

    &-navbar{
      li{
        @include menu-inline-li-light-style-1;
      }

      li:hover{
        @include hover-standard-style1;
      }
      li:first-child{
        font-weight: normal;
      }
    }


  }
}
// /HEADER TOP ******************************************************************


// HEADER CENTER ***************************************************************
.header-center-background{
  height: 120px;
  @include border-bottom-style-1;
  .header-center{
    @include content-style;
    height: 100%;
    &-logo{
      height: 100%;
      display: flex;
      align-items: center;

      img{
        width: 100px;
      }

    }

  }

}
// /HEADER BOTTOM **************************************************************
.header-bottom-background{
  height: 60px;
  .header-bottom{
    @include content-style;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-menu{
      li{
        @include menu-inline-li-dark-style-1;
      }
      li:hover{
        @include hover-standard-style1;
      }
      li:first-child{
        color: $colorTxt4;
      }
    }
    &-menu-2{
      li{
        @include menu-inline-li-dark-style-1;
      }
    }
  }
}
// /HEADER BOTTOM **************************************************************

// ROW 1 ***********************************************************************
.row-1-background{
  background-color: $colorBg3;
  padding: 50px 0;

  .row-1{
    @include content-style;
    display: flex;
    flex-wrap: wrap;

    // CARD ARTICLE + ANIMATION
    .card-article{
      @include card-article-size-1;
      @include card-article-style-1;
      margin-right: 20px;
      margin-bottom: 20px;

    }

    .card-article:hover {
      @include card-article-style-1-hover;

    }
    // /CARD ARTICLE + ANIMATION
  }

}
// /ROW 1 ***********************************************************************

// ROW 2 ***********************************************************************
.row-2-background{
  background-color: $colorBg1;
  height: 540px;

  .row-2{
    @include content-style;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

    &-col-left, &-col-center, &-col-right{
      width: 450px;
      // height: 100px;
    }

    &-col-left, &-col-center{
      .articles-icon-list{
          @include resetListBullets;
          @include articleIconImg-style-1;

          &-title{
            @include list-title-style-1;
            font-weight: bold;
            margin-bottom: 5px;
          }

          .article:hover{
            cursor: pointer;
          }

          .article:hover .article-text .article-text-name{
            @include hover-standard-style1;

          }


      }
    }

    &-col-left{


    }

    &-col-center{


    }

    &-col-right{

      .articles-list{
        @include resetListBullets;
        &-title{
          @include list-title-style-1;
          margin-bottom:40px;
        }

      }

      .card-article{
        @include card-article-size-2;
        @include card-article-style-1;
        margin-right: 20px;
        margin-bottom: 30px;

      }

      .card-article:hover {
        @include card-article-style-1-hover;

      }

      .author-list{
          @include resetListBullets;
          @include authorIconImg-style-1;

          &-title{
            @include list-title-style-1;
            font-weight: bold;
            margin-bottom: 5px;
          }
      }

      // .author-list{
      //   @include resetListBullets;
      //   &-title{
      //     @include list-title-style-1;
      //   }
      //
      // }
    }

  }





}
// /ROW 2 ***********************************************************************

// ROW 3 ***********************************************************************
.row-3-background{
  background-color: $colorBg6;
  height: 150px;

  .row-3{
    @include content-style;
    .menu-categories{
      display: flex;
      justify-content: space-between;
      padding: 50px 0;
      i{
        line-height: 50px;
      }
      li{
        display: inline-block;
        cursor: pointer;
      }

      .button-category{
        @include btn-category;
      }


      .button-category:hover{
        @include btn-category-hover;
      }

    }
  }

}
// /ROW 3 **********************************************************************

// FOOTER TOP ******************************************************************
.footer-top-background{
  background-color: $colorBg9;
  // height: 400px;
  padding-top: 80px;
  padding-bottom: 100px;


  .footer-top{
    @include content-style;
    display: flex;
    justify-content: space-between;

    &-about{
      width: 420px;
      .menu-dark{
        @include menu-dark-style-1;

        &-highlight{
          cursor:pointer;
        }

        &-highlight:hover{
          @include hover-standard-style1;
        }
      }
    }

    &-posts{
      width: 320px;

      .articles-icon-list{
          @include resetListBullets;
          @include articleIconImg-style-2;

          &-title{
            @include list-title-style-2;
            // font-weight: bold;
            // margin-bottom: 5px;
          }

          .article:hover{
            cursor: pointer;
          }

          .article:hover .article-text .article-text-name{
            @include hover-standard-style1;

          }


      }
    }

    &-comments{
      width: 325px;

      .comments-list{
        @include resetListBullets;
        @include comments-list-style-1;

        &-title{
          @include list-title-style-2;
          margin-bottom: 15px;
        }
      }


    }
    &-categories{
      width: 200px;
      // border: 4px dashed green;

      .categories-list{
        @include resetListBullets;
        &-title{
          @include list-title-style-2;
          margin-bottom: 15px;
        }
      }

      .category-label{
        @include category-label-style-2;
      }
    }
  }
}
// /FOOTER TOP ******************************************************************

// FOOTER BOTTOM ******************************************************************
.footer-bottom-background{
  background-color: $colorBg10;
  padding: 50px 0;
  height: 200px;

  .footer-bottom{
    @include content-style;
  }
}
// /FOOTER BOTTOM ******************************************************************
