
@import "colors";
@import "testDebug";

//******************************************************************************

// ROW 1
// TODO: eliminare margine inferiore dell'ultima riga delle card
// TODO: card - slide testo in hover
// TODO: centrare dta in article full image
// TODO: dettaglio btn- pages - accavallamento buttons

// MIXIN **********************************************************************

@mixin background-common{
  min-width: 1410px;

}

@mixin content-style{
  width: 1410px;
  margin: 0 auto;
}

@mixin resetListBullets{
  list-style: none;

}

@mixin link-style-reset{
  text-decoration: none;

  a{
    text-decoration: none;
  }
}


@mixin link-style-1{
  color: $colorTxt4;
  text-decoration: none;
}

@mixin link-style-1-bold{
  color: $colorTxt4;
  font-weight: bold;
  text-decoration: none;
}

@mixin menu-inline-li-light-style-1{
  color:$colorTxt1;
  display: inline-block;
  cursor:pointer;
  // font-weight: bold;
  margin-right: 25px;
}

@mixin menu-inline-li-grey-style-1{
  color:$colorTxt5;
  display: inline-block;
  cursor:pointer;
  font-weight: bold;
  margin-right: 15px;
}

@mixin menu-inline-li-grey-style-2{
  color:$colorTxt2;
  display: inline-block;
  cursor:pointer;
  // font-weight: bold;
  margin-right: 15px;
}

@mixin menu-inline-li-dark-style-1{
  color:$colorTxt7;
  display: inline-block;
  cursor:pointer;
  font-weight: bold;
  margin-right: 50px;
}



@mixin btn-category{
  text-align: center;
  display: inline-block;
  width: 185px;
  height: 50px;
  font-size: 12px;
  font-weight: bold;
  line-height: 50px;
  // margin-right: 40px;
  color: $colorTxt1;
  background-color: $colorBg8;
  cursor: pointer;
}

@mixin btn-category-hover{
  transition: background-color 0.4s;
  background-color: $colorBg9;
}

@mixin btn-transparent-style-1{
  display: inline-block;
  font-size: 12px;
  padding: 5px 10px;
  color: $colorTxt2;
  border: 1px solid $colorTxt2;
  border-radius: 5px;
}


@mixin btn-pages-list-style-1{
  .btn-page:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .btn-page:nth-child(2){
    font-weight: bold;
    color: white;
    background-color: $colorBg5;
  }
  .btn-page:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .btn-page:hover{
    @include hover-standard-style1;
  }
}


@mixin btn-page-style-1{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;

  width: 35px;
  height: 35px;
  // font-weight: bold;
  font-size: 16px;
  // padding: 5px 10px;
  color: $colorTxt4;
  border: 1px solid $colorBrd2;
  // border-radius: 5px;

}


@mixin border-bottom-style-1{
  border: 1px solid $colorBrd3;
}

@mixin card-article-size-1{
  width: 450px;
  height: 250px;
}

@mixin card-article-size-2{
  width: 450px;
  height: 190px;
}


// CARD ARTICLE STYLE 1
@mixin card-article-style-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding: 25px 30px;
  overflow: hidden;

  //Z INDEXES
  // layover -1 -- > 1 on hover
  // bg 0
  // content 2

  &-layover{
    opacity: 15%;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,1);
    z-index: 1;
  }

  &-bg{
    position: absolute;
    background-color: rgb(0,0,0);
    opacity: 100%;
    top:0;
    left:0;
    width: 100%;
    z-index: 0;
  }

  &-content{
    z-index: 2;
    &-category{
      @include category-label-style-1;
      // display: inline-block;
      // max-width: 150px;
      // font-size: 14px;
      // font-weight: bold;
      // color: $colorTxt1;
      // background-color:  $colorBg5;
      // border-radius: 2px;
      // padding: 5px;
      // margin-bottom: 15px;
    }

    &-title{
      font-size: 20px;
      font-weight: bold;
      color: $colorTxt1;
    }

    &-description{
      display: none;
      font-size: 16px;
      font-weight: bold;
      color: $colorTxt2;
      margin-top: 5px;
    }

  }

}

@mixin card-article-style-1-hover{
  cursor: pointer;

  .card-article-content-description{

    display: block;

  }

  .card-article-layover{
    opacity: 50%;
    transition: opacity 2s;
    z-index: 1;
  }
}
// /CARD ARTICLE STYLE 1

@mixin list-title-style-1{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

@mixin list-title-style-2{
  font-size: 14px;
  color: $colorTxt1;
  font-weight: bold;
  margin-bottom: 5px;
}

// ARTICLE LIST WITH ICON STYLE 1
@mixin articleIconImg-style-1{


  .article{
    display: flex;
    font-size: 14px;
    border-bottom: 1px dotted $colorBrd4;
    padding: 15px 0;


    &-text{
      @include resetListBullets;

      &-name{
        color: $colorTxt10;
        // font-weight: bold;
        margin-bottom: 5px;
      }

      &-date{
        font-size:12px;
        color: $colorTxt2;
      }

    }

    &-img{
      display: inline;
      width: 50px;
      height: 50px;
      margin-right:15px;
    }
  }
}
// /ARTICLE LIST WITH ICON STYLE 1

@mixin articleFullImg-style-1{


  .full-article{
    // display: flex;

    font-size: 14px;
    border-bottom: 1px solid $colorBrd4;
    padding-bottom: 30px;
    margin-bottom: 50px;



    &-row-1{

       > .full-article-img{
         display: inline;
         width: 1050px;
         height: 440px;
         // margin-right:15px;
         margin-bottom:25px;
      }

      > .grid{
        @include gridRow3;
        // display: flex;
        // flex-wrap: wrap;
        margin-bottom:25px;

        // > img{
        //   width: calc(100% / 3);
        //
        //   // width: 50px;
        // }
      }
    }

    &-row-2{
      display: flex;

    }

    &-col-1{
      width: 60px;
    }

    &-col-2{
      width: calc(100% - 60px);
    }


    &-date-style{
      @include resetListBullets;
      text-align: center;

      li{
        width: 40px;;
      }
      .day{

        font-size: 14px;
        font-weight: bold;
        color: black;
        padding: 15px 0px;
        background-color: $colorBg2;
      }

      .month{
        font-size: 12px;
        font-weight: bold;
        color: white;
        padding: 2px 0px;
        background-color: $colorBg8;
      }
    }

    &-text{
      @include resetListBullets;
      display: block;

      &-name{
        color: $colorTxt10;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      &-name:hover{
        @include hover-standard-style1;
      }

      &-paragraph{
        color: $colorTxt2;
        font-size: 14px;
        // font-weight: bold;
        margin-bottom: 30px;
      }

      &-info{
        display: flex;
        justify-content: space-between;
        .menu a{
          @include link-style-1-bold;
        }

        a:hover{
          @include hover-standard-style1;
        }

        i{
          margin-right: 5px;
        }
        li{
          @include menu-inline-li-grey-style-2;
        }

        .full-article-text-read{
          @include btn-transparent-style-1;

        }
        .full-article-text-read:hover{
          @include hover-standard-style1;

        }
      }





    }





  }
}

@mixin gridRow3{
  display: flex;
  flex-wrap: wrap;
  > img{
    width: calc(100% / 3);
  }
}


@mixin category-label-style-1{
  display: inline-block;
  max-width: 150px;
  font-size: 10px;
  font-weight: bold;
  color: $colorTxt1;
  background-color:  $colorBg5;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
}

@mixin category-label-style-2{
  display: inline-block;
  max-width: 150px;
  font-size: 10px;
  font-weight: bold;
  color: $colorTxt1;
  background-color:  $colorBg13;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}

@mixin tag-label-style-1{
  display: inline-block;
  max-width: 150px;
  font-size: 10px;
  font-weight: bold;
  color: $colorTxt1;
  background-color:  $colorBg13;
  border-radius: 15px;
  padding: 2px 6px;
  margin-bottom: 10px;
}


@mixin articleIconImg-style-2{


  .article{
    display: flex;
    font-size: 14px;
    padding: 15px 0;


    &-text{
      @include resetListBullets;

      &-name{
        color: $colorTxt2;
        font-weight: bold;
        margin-bottom: 5px;
      }

      &-date{
        font-size:12px;
        color: $colorTxt5;
      }

    }

    &-img{
      display: inline;
      width: 70px;
      height: 70px;
      margin-right:15px;
      border-radius: 50%;
    }
  }
}

@mixin articleIconImg-style-3{


  .article{
    display: flex;
    font-size: 14px;
    padding: 15px 0;


    &-text{
      @include resetListBullets;

      &-name{
        color: $colorTxt2;
        // font-weight: bold;
        margin-bottom: 10px;
      }

      &-date{
        font-size:12px;
        color: $colorTxt4;
      }

    }

    &-img{
      display: inline;
      // width: 70px;
      height: 70px;
      margin-right:15px;
      border-radius: 50%;
    }
  }
}

// AUTHOR LIST LI STYLE 1
@mixin authorIconImg-style-1{


  .author{
    display: flex;
    font-size: 16px;
    padding: 15px 0;

    &-text{
      @include resetListBullets;

      &-name{
        color: $colorTxt10;
        font-weight: bold;
        margin-bottom: 15px;
      }

      &-description{
        font-size: 14px;
        color: $colorTxt2;
      }

    }

    &-img{
      display: inline;
      width: 110px;
      height: 110px;
      margin-right:15px;
    }
  }
}

@mixin hover-standard-style1{
  opacity: 70%;
  transition: opacity 0.4s, text-shadow 0.2s;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  // background-color: rgba(0,0,0,0.3);
  // border-radius: 5px;
  text-decoration: underline;
  cursor: pointer;

}

@mixin menu-dark-style-1{
  @include resetListBullets;
  color: $colorTxt5;

  li{
    font-size: 14px;
    margin-bottom: 15px;
  }

  &-title{
    @include list-title-style-1;
    color: $colorTxt1;
  }

  &-viewmore{
    font-weight: bold;
    color: $colorTxt1;

    i{
      margin-left: 5px;
    }
  }

  &-viewmore:hover{
    @include hover-standard-style1;
  }

}

@mixin comments-list-style-1{

  .comment{
    @include resetListBullets;
    font-size: 14px;
    margin-bottom: 30px;

    a{
      @include link-style-1;

    }

    a:hover{
      @include hover-standard-style1;
    }

    &-text{
      color: $colorTxt2;
      font-weight: bold;
      margin-bottom: 10px;

      .bullet{
        color: $colorTxt4;
        font-weight: bold;
        margin-right: 10px;
      }

      .author-name{
        color: $colorTxt1;
      }
    }

    &-date{
      font-size: 12px;
      color: $colorTxt5;
    }


  }
}

// /MIXIN **********************************************************************

// GENERIC CLASS ***************************************************************
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family:"Segoe UI", Roboto;
}


h1,h2,h3 {
  font-size: 36px;
}


.container{
  width: 100%;
}
// /GENERIC CLASS ***************************************************************


// HEADER TOP ******************************************************************
.header-top-background{
  @include background-common;
  display: flex;
  align-items: center;
  background-color: $colorBg6;
  height: 50px;

  .header-top{
    @include content-style;

    &-navbar{

      li{
        @include menu-inline-li-light-style-1;
        font-size: 14px;
      }

      li:hover{
        @include hover-standard-style1;
      }
      li:first-child{
        font-weight: normal;
      }
    }


  }
}
// /HEADER TOP ******************************************************************


// HEADER CENTER ***************************************************************
.header-center-background{
  @include background-common;
  @include border-bottom-style-1;

  height: 120px;
  .header-center{
    @include content-style;
    height: 100%;
    &-logo{
      height: 100%;
      display: flex;
      align-items: center;

      img{
        width: 100px;
      }

    }

  }

}
// /HEADER BOTTOM **************************************************************
.header-bottom-background{
  @include background-common;
  height: 60px;
  .header-bottom{
    @include content-style;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-menu{
      li:first-child{
        color: $colorTxt4;
      }
    }
    &-menu, &-menu-2{
      li{
        @include menu-inline-li-dark-style-1;
        font-size: 14px;
      }
      li:hover{
        @include hover-standard-style1;
      }

      li:last-child{
        margin-right: 0px;
      }
    }
    // &-menu-2{
    //   li{
    //     @include menu-inline-li-dark-style-1;
    //   }
    //
    //   li:last-child{
    //     margin-right: 0px;
    //   }
    // }
  }
}
// /HEADER BOTTOM **************************************************************

// ROW 1 ***********************************************************************
.row-1-background{
  @include background-common;
  background-color: $colorBg2;
  padding: 50px 0;

  .row-1{
    @include content-style;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    // CARD ARTICLE + ANIMATION
    .card-article{
      @include card-article-size-1;
      @include card-article-style-1;
      // margin-right: 20px;
      margin-bottom: 30px;

    }

    .card-article:hover {
      @include card-article-style-1-hover;

    }
    // /CARD ARTICLE + ANIMATION
  }

}
// /ROW 1 ***********************************************************************

// ROW 2 ***********************************************************************
.row-2-background{
  @include background-common;
  background-color: $colorBg1;
  height: 540px;

  .row-2{
    @include content-style;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

    &-col-left, &-col-center, &-col-right{
      width: 450px;
      // height: 100px;
    }

    &-col-left, &-col-center{
      .articles-icon-list{
          @include resetListBullets;
          @include articleIconImg-style-1;

          &-title{
            @include list-title-style-1;
            font-weight: bold;
            margin-bottom: 5px;
          }

          .article:hover{
            cursor: pointer;
          }

          .article:hover .article-text .article-text-name{
            @include hover-standard-style1;

          }


      }
    }

    &-col-left{


    }

    &-col-center{


    }

    &-col-right{

      .articles-list{
        @include resetListBullets;
        &-title{
          @include list-title-style-1;
          margin-bottom:40px;
        }

      }

      .card-article{
        @include card-article-size-2;
        @include card-article-style-1;
        margin-right: 20px;
        margin-bottom: 30px;

      }

      .card-article:hover {
        @include card-article-style-1-hover;

      }

      .author-list{
          @include resetListBullets;
          @include authorIconImg-style-1;

          &-title{
            @include list-title-style-1;
            font-weight: bold;
            margin-bottom: 5px;
          }
      }

      // .author-list{
      //   @include resetListBullets;
      //   &-title{
      //     @include list-title-style-1;
      //   }
      //
      // }
    }

  }





}
// /ROW 2 ***********************************************************************

// ROW 3 ***********************************************************************
.row-3-background{
  @include background-common;
  background-color: $colorBg5;
  height: 150px;

  .row-3{
    @include content-style;
    .menu-categories{
      display: flex;
      justify-content: space-between;
      padding: 50px 0;
      i{
        line-height: 50px;
      }
      i:hover{
        @include hover-standard-style1;
      }
      li{
        display: inline-block;
        cursor: pointer;
      }


      .button-category{
        @include btn-category;
      }


      .button-category:hover{
        @include btn-category-hover;
      }

    }
  }

}
// /ROW 3 **********************************************************************

// ROW 4 ***********************************************************************
.row-4-background{
  @include background-common;
  background-color: $colorBg1;

  .row-4{
    @include content-style;
    display: flex;
    padding: 65px 0px;
    .col-left{
      width: 1050px;

      .articles-full-img-list{
          @include resetListBullets;
          @include articleFullImg-style-1;

          &-title{
            @include list-title-style-1;
            font-weight: bold;
            margin-bottom: 5px;
          }

          .article:hover{
            cursor: pointer;
          }

          .article:hover .article-text .article-text-name{
            @include hover-standard-style1;

          }


      }
    }
    .col-right{
      width: 360px;
      padding: 0px 30px;

      .social-twitter{
        width: 320px;

        .articles-icon-list{
            @include resetListBullets;
            @include articleIconImg-style-3;

            &-title{
              @include list-title-style-1;
              // font-weight: bold;
              // margin-bottom: 5px;
            }

            .article:hover{
              cursor: pointer;
            }

            .article:hover .article-text .article-text-name{
              @include hover-standard-style1;

            }


        }
      }

      .social-instagram{
        margin-bottom: 20px;

        .list-title{
          @include list-title-style-1;
          margin-bottom: 20px;
        }
        .grid{
          @include gridRow3;
          margin-bottom: 25px;
        }
        .grid:hover{
          @include hover-standard-style1;
        }

        .tag-list{
          @include resetListBullets;
          &-title{
            @include list-title-style-1;
            margin-bottom: 15px;
          }
          .tag-label{
            @include tag-label-style-1;
            margin-right: 5px;

          }
          .tag-label:hover{
            @include hover-standard-style1;

          }
        }




      }

      .social-facebook{
        .list-title{
          @include list-title-style-1;
          margin-bottom: 20px;
        }

        .theme-container{
          display: flex;
          height: 50px;
          .bullet{
            display: inline-block;
            width: 5px;
            height: 100%;
            background-color: $colorBg2;
            margin-right: 15px;
          }
          .theme{
            color: $colorTxt4;
            vertical-align: middle;
            line-height: 50px;
          }
        }

        .theme-container:hover{
          @include hover-standard-style1;
        }




      }


    }

    .btn-pages-list{
      @include resetListBullets;
      @include btn-pages-list-style-1;
      display: flex;
      justify-content: flex-end;
      .btn-page{
        @include btn-page-style-1;
      }


    }


  }
}

// /ROW 4 **********************************************************************

// FOOTER TOP ******************************************************************
.footer-top-background{
  @include background-common;
  background-color: $colorBg8;
  // height: 400px;
  padding-top: 80px;
  padding-bottom: 100px;


  .footer-top{
    @include content-style;
    display: flex;
    justify-content: space-between;

    &-about{
      width: 420px;
      .menu-dark{
        @include menu-dark-style-1;

        &-highlight{
          cursor:pointer;
        }

        &-highlight:hover{
          @include hover-standard-style1;
        }
      }
    }

    &-posts{
      width: 320px;

      .articles-icon-list{
          @include resetListBullets;
          @include articleIconImg-style-2;

          &-title{
            @include list-title-style-2;
            // font-weight: bold;
            // margin-bottom: 5px;
          }

          .article:hover{
            cursor: pointer;
          }

          .article:hover .article-text .article-text-name{
            @include hover-standard-style1;

          }


      }
    }

    &-comments{
      width: 325px;

      .comments-list{
        @include resetListBullets;
        @include comments-list-style-1;

        &-title{
          @include list-title-style-2;
          margin-bottom: 15px;
        }
      }


    }
    &-categories{
      width: 200px;
      // border: 4px dashed green;

      .categories-list{
        @include resetListBullets;
        &-title{
          @include list-title-style-2;
          margin-bottom: 15px;
        }
      }

      .category-label{
        @include category-label-style-2;
        margin-right: 7px;

      }
      .category-label:hover{
        @include hover-standard-style1;

      }
    }
  }
}
// /FOOTER TOP ******************************************************************

// FOOTER BOTTOM ******************************************************************
.footer-bottom-background{
  @include background-common;
  background-color: $colorBg10;
  // padding: 50px 0;
  height: 100px;

  .footer-bottom{
    @include content-style;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo{
      display: inline-block;


      img{
        width: 75px;
        vertical-align: middle;
        margin-right: 45px;
      }
    }

    &-copyright{
      font-size: 12px;
      color: $colorTxt6;
    }

    &-links{
      li{
        @include menu-inline-li-grey-style-1;
        font-size: 12px;

        .bullet{
          color: $colorTxt5;
          font-weight: bold;
          margin-right: 5px;
        }
      }

      li:hover{
        @include hover-standard-style1;
      }
    }
  }

}
// /FOOTER BOTTOM ******************************************************************
