
@import "colors";
@import "testDebug";

//******************************************************************************

// ROW 1
// TODO: margini card non tornano: messo 20px anzichè 30px;
// TODO: eliminare margine inferiore dell'ultima riga delle card


// MIXIN **********************************************************************
@mixin content-style{
  width: 1410px;
  margin: 0 auto;
}

@mixin resetListBullets{
  list-style: none;

}

@mixin menu-inline-li-light-style-1{
  color:$colorTxt1;
  display: inline-block;
  cursor:pointer;
  font-weight: bold;
  margin-right: 25px;
}

@mixin menu-inline-li-dark-style-1{
  color:$colorTxt7;
  display: inline-block;
  cursor:pointer;
  font-weight: bold;
  margin-right: 50px;
}


@mixin btn-category{
  text-align: center;
  display: inline-block;
  width: 185px;
  height: 50px;
  font-weight: bold;
  line-height: 50px;
  // margin-right: 40px;
  color: $colorTxt1;
  background-color: $colorBg8;
  cursor: pointer;
}

@mixin btn-category-hover{
  background-color: $colorBg9;
}

@mixin border-bottom-style-1{
  border: 1px solid $colorBrd3;
}

@mixin card-article-size-1{
  width: 450px;
  height: 250px;
}

@mixin card-article-size-2{
  width: 450px;
  height: 190px;
}


// CARD ARTICLE STYLE 1
@mixin card-article-style-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding: 25px 30px;
  overflow: hidden;

  //Z INDEXES
  // layover -1 -- > 1 on hover
  // bg 0
  // content 2

  &-layover{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
    z-index: -1;
  }

  &-bg{
    position: absolute;
    background-color: rgb(0,0,0);
    opacity: 100%;
    top:0;
    left:0;
    width: 100%;
    z-index: 0;
  }

  &-content{
    z-index: 2;
    &-category{
      display: inline-block;
      max-width: 150px;
      font-size: 14px;
      font-weight: bold;
      color: $colorTxt1;
      background-color:  $colorBg5;
      border-radius: 2px;
      padding: 5px;
      margin-bottom: 15px;
    }

    &-title{
      font-size: 24px;
      font-weight: bold;
      color: $colorTxt1;
    }

    &-description{
      display: none;
      font-weight: bold;
      color: $colorTxt3;
      margin-top: 15px;
    }

  }

}

@mixin card-article-style-1-hover{
  .card-article-content-description{
    display: block;
  }
  .card-article-layover{
    z-index: 1;
  }
}
// /CARD ARTICLE STYLE 1

@mixin list-title-style-1{
  font-weight: bold;
  margin-bottom: 5px;
}

// ARTICLE LIST WITH ICON STYLE 1
@mixin articleIconImg-style-1{


  .article{
    display: flex;
    border-bottom: 1px dotted $colorBrd4;
    padding: 15px 0;


    &-text{
      @include resetListBullets;

      &-name{
        color: $colorTxt10;
        font-weight: bold;
        margin-bottom: 5px;
      }

      &-date{
        color: $colorTxt2;
      }

    }

    &-img{
      display: inline;
      width: 50px;
      height: 50px;
      margin-right:15px;
    }
  }
}


// /ARTICLE LIST WITH ICON STYLE 1

// AUTHOR LIST LI STYLE 1
@mixin authorIconImg-style-1{


  .author{
    display: flex;
    padding: 15px 0;

    &-text{
      @include resetListBullets;

      &-name{
        color: $colorTxt10;
        font-weight: bold;
        margin-bottom: 5px;
      }

      &-description{
        color: $colorTxt2;
      }

    }

    &-img{
      display: inline;
      width: 110px;
      height: 110px;
      margin-right:15px;
    }
  }
}

// /MIXIN **********************************************************************

// GENERIC CLASS ***************************************************************
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}


h1,h2,h3 {
  font-size: 36px;
}


.container{
  width: 100%;
}
// /GENERIC CLASS ***************************************************************


// HEADER TOP ******************************************************************
.header-top-background{
  display: flex;
  align-items: center;
  background-color: $colorBg6;
  height: 50px;

  .header-top{
    @include content-style;

    &-menu{
      li{
        @include menu-inline-li-light-style-1;
      }
      li:first-child{
        font-weight: normal;
      }
    }

  }
}
// /HEADER TOP ******************************************************************


// HEADER CENTER ***************************************************************
.header-center-background{
  height: 120px;
  @include border-bottom-style-1;
  .header-center{
    @include content-style;
    height: 100%;
    &-logo{
      height: 100%;
      display: flex;
      align-items: center;

      img{
        width: 100px;
      }

    }

  }

}
// /HEADER BOTTOM **************************************************************
.header-bottom-background{
  height: 60px;
  .header-bottom{
    @include content-style;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-menu{
      li{
        @include menu-inline-li-dark-style-1;
      }
      li:first-child{
        color: $colorTxt4;
      }
    }
    &-menu-2{
      li{
        @include menu-inline-li-dark-style-1;
      }
    }
  }
}
// /HEADER BOTTOM **************************************************************

// ROW 1 ***********************************************************************
.row-1-background{
  background-color: $colorBg3;
  padding: 50px 0;

  .row-1{
    @include content-style;
    display: flex;
    flex-wrap: wrap;

    // CARD ARTICLE + ANIMATION
    .card-article{
      @include card-article-size-1;
      @include card-article-style-1;
      margin-right: 20px;
      margin-bottom: 20px;

    }

    .card-article:hover {
      @include card-article-style-1-hover;

    }
    // /CARD ARTICLE + ANIMATION
  }

}
// /ROW 1 ***********************************************************************

// ROW 2 ***********************************************************************
.row-2-background{
  background-color: $colorBg1;
  height: 540px;

  .row-2{
    @include content-style;
    display: flex;
    justify-content: space-between;

    &-col-left, &-col-center, &-col-right{
      width: 450px;
      height: 100px;
    }

    &-col-left, &-col-center{
      .articles-icon-list{
          @include resetListBullets;
          @include articleIconImg-style-1;

          &-title{
            @include list-title-style-1;
            font-weight: bold;
            margin-bottom: 5px;
          }
      }
    }

    &-col-left{


    }

    &-col-center{


    }

    &-col-right{

      .articles-list{
        @include resetListBullets;
        &-title{
          @include list-title-style-1;
        }

      }

      .card-article{
        @include card-article-size-2;
        @include card-article-style-1;
        margin-right: 20px;
        margin-bottom: 20px;

      }

      .card-article:hover {
        @include card-article-style-1-hover;

      }

      .author-list{
          @include resetListBullets;
          @include authorIconImg-style-1;

          &-title{
            @include list-title-style-1;
            font-weight: bold;
            margin-bottom: 5px;
          }
      }

      // .author-list{
      //   @include resetListBullets;
      //   &-title{
      //     @include list-title-style-1;
      //   }
      //
      // }
    }

  }





}
// /ROW 2 ***********************************************************************

// ROW 3 ***********************************************************************
.row-3-background{
  background-color: $colorBg6;
  height: 150px;

  .row-3{
    @include content-style;
    .menu-categories{
      display: flex;
      justify-content: space-between;
      padding: 50px 0;
      i{
        line-height: 50px;
      }
      li{
        display: inline-block;
        cursor: pointer;
      }

      .button-category{
        @include btn-category;
      }


      .button-category:hover{
        @include btn-category-hover;
      }

    }
  }

}
// /ROW 3 ***********************************************************************
